*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  overflow: hidden;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.hands .hand {
  font-size: 6rem;
  padding: 0 2rem;
  cursor: pointer;
}

.hands .hand.highlight {
  border: 5px solid #fa8142;
  border-radius: 6px;
}

.animate-hands .hand-left {
  -webkit-animation: ease-in-out infinite 2.5s infinite-left-hand-animation, ease-in 2s left-hand-animation;
          animation: ease-in-out infinite 2.5s infinite-left-hand-animation, ease-in 2s left-hand-animation;
}

.animate-hands .hand-right {
  -webkit-animation: ease-in-out infinite 2.5s infinite-right-hand-animation, ease-in 2s right-hand-animation;
          animation: ease-in-out infinite 2.5s infinite-right-hand-animation, ease-in 2s right-hand-animation;
}

@-webkit-keyframes infinite-left-hand-animation {
  0% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@keyframes infinite-left-hand-animation {
  0% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@-webkit-keyframes infinite-right-hand-animation {
  0% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@keyframes infinite-right-hand-animation {
  0% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@-webkit-keyframes left-hand-animation {
  0% {
    font-size: 2rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes left-hand-animation {
  0% {
    font-size: 2rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes right-hand-animation {
  0% {
    font-size: 2rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes right-hand-animation {
  0% {
    font-size: 2rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.show-rock {
  position: relative;
}

.show-rock::before {
  content: "\1FAA8";
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 2rem;
  color: white;
}

.hands.won,
.hands.lost,
.animate-hands.select-msg {
  position: relative;
}

.hands.won::before,
.hands.lost::before,
.animate-hands.select-msg::before {
  position: absolute;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: #615c5c;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.hands.won::before {
  content: "\1F44F   Congrats You Won \1FAA8";
}

.hands.lost::before {
  content: "You Lost \1FAA8";
}

.animate-hands.select-msg::before {
  top: -50%;
  font-size: 1.75rem;
  content: "Touch any hand to reveal \1FAA8";
}

.shuffle-btn {
  color: black;
  background-color: #ffd33a;
  width: 200px;
  border: 0;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.shuffle-btn:hover {
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */